/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-color: #131e39;
  color: #fff;
  color-scheme: dark;
}

#rightBox {
  margin-inline: 30px;
}

#bottomBox {
  background-color: #0e162b;
  padding: 15px 10px 15px;
}

#trademark {
  font-size: xx-small;
  text-align: center;
  color: #999999;
  margin-block: 10px;
}
