/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-background-color-tokens */
  background-color: #131e39;
  color: white;
  color-scheme: dark;
}

#rightBox {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-space-tokens */
  margin-inline: 30px;
}

#bottomBox {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-background-color-tokens */
  background-color: #0e162b;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-space-tokens */
  padding: 15px 10px 15px;
}

#trademark {
  font-size: xx-small;
  text-align: center;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-text-color-tokens */
  color: #999999;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-space-tokens */
  margin-block: 10px;
}
