/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/global.css");
@import url("chrome://global/skin/design-system/text-and-typography.css");
@import url("chrome://global/skin/design-system/tokens-brand.css");

:root {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  min-width: 727px;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  min-height: 744px;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.felt {
  display: flex;
  flex: 1 0 0;
  overflow: hidden;
}

.felt-logo {
  display: flex;
  background: linear-gradient(101deg, #1a3560 0%, #0c66b4 98.12%);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.felt-logo__container {
  display: flex;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  width: 310px;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  height: 602px;
  justify-content: center;
  align-items: center;
  background-image: url("chrome://felt/content/assets/enterprise-icon-cropped.svg");
  background-repeat: no-repeat;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  background-size: contain;
  background-position: center;
}

.felt-login {
  display: flex;
  background: var(--background-color-box);
  flex: 1 0 0;
  justify-content: center;
  position: relative;
}

.felt-login__email-pane {
  display: flex;
  flex-direction: column;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  padding: 128px 50px;
  align-items: center;
  align-self: stretch;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  gap: 36px;
  flex: 1 0 0;
}

.felt-login__wordmark {
  content: url("chrome://felt/content/assets/enterprise-wordmark.svg");
  -moz-context-properties: fill;
  fill: currentColor;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  width: 265px;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  height: 117px;
}

.felt-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  width: 265px;
}

.felt-form__title {
  color: var(--text-color, #fbfbfe);
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  font-size: 42px;
  font-style: normal;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  font-weight: 274;
  line-height: normal;
}

.felt-form__elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-large);
  align-self: stretch;
}

moz-input-text::part(label) {
  font-size: medium;
}

.fill-width {
  width: 100%;
}

.felt-login__sso {
  display: flex;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  width: 400px;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  padding: 60px 5px;
}

.felt-login__sso > browser {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

.felt-powered-by {
  position: absolute;
  /* stylelint-disable-next-line */
  bottom: 8px;
  /* stylelint-disable-next-line */
  left: 8px;
  font-size: small;
}

.felt-version {
  position: absolute;
  /* stylelint-disable-next-line */
  right: 8px;
  /* stylelint-disable-next-line */
  bottom: 8px;
  font-size: small;
}

.is-hidden {
  display: none !important;
}

#notification-popup-box {
  position: absolute;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  top: 50%;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  left: 50%;
}

body:has(#notification-popup-box[open]) .felt:not(#notification-popup-box .felt) {
  opacity: 0.5;
  pointer-events: none;
}

.felt-browser-error {
  position: absolute;
  /* stylelint-disable-next-line */
  bottom: 32px;
  /* stylelint-disable-next-line */
  left: 8px;
  font-size: medium;
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  color: var(--icon-color-critical);
  font-weight: var(--font-weight-bold);
}
