/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --badge-border-color: rgba(21, 20, 26, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --badge-border-color: rgba(251, 251, 254, 0.4);
  }
}

@media (forced-colors: active) {
  :root {
    --badge-border-color: CanvasText;
  }
}

.enterprise-badge {
  height: var(--size-item-large);
  padding: var(--space-xxsmall) var(--space-xsmall);
  align-items: center;
  gap: var(--space-small);
  flex-shrink: 0;

  border-radius: var(--border-radius-medium);
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-border-color-tokens */
  border: 1px solid var(--badge-border-color);
  background: var(--background-color-box);

  &:hover {
    background: var(--button-background-color-hover);
  }

  &:active {
    background: var(--button-background-color-active);
  }
}

#enterprise-company-logo__wrapper {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  max-width: 80px;
  max-height: var(--size-item-medium);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  > image {
    border-radius: var(--border-radius-small);
    list-style-image: url(chrome://browser/content/enterprise/badge-logo.svg);
  }
}

#enterprise-user-icon {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
  border-radius: var(--border-radius-circle);
}
